@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	justify-content: center;
	/*position:relative;*/
}
ul, li {
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 1.1em;/*1.5em, 10pt*/
	color: #333;
}
a {
	/*color: orange;*/
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	/*border: none 0px #fff;*/
	border: 0 none #fff;
}
h1, h2, h3, h4, h5, h6 {

  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
p#restaurant-address {
	font-size: 1.6em;
	margin: 1em 0;
}
/*article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}*/
table { /*new*/
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.2em;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 6.3em;
  background-color: #252831;
	display: flex;/*new*/
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 10px;
	text-align: center; /*new*/
  text-transform: uppercase;
	margin: auto;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    /*font-size: 17px;*/
    margin: 0;
    /*width: calc(50% - 80px);*/
		text-align: center;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #075190;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
	color: #522d92;
	text-decoration: underline;
	background-color: rgba(255, 204, 188, 0.3);
	padding: 1em;
	border-radius: 50px;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
#map a {
	color: #025677;
}
/* ====================== Restaurant Filtering ====================== */
#filter-container {
	width: 100%;
}
.filter-options {
	background-color: #252831;
	display: flex;/*new*/
  align-items: center;
	justify-content: center;/*new*/
	padding: 1em 5em 1em 5em;
	display: flex;
	flex-wrap: wrap;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1.1em;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}
/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
	display: grid;
	grid-gap: 1.5em;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 0;
  min-height: 380px;
  padding: 0.9em; /*old:0 30px 25px;*/
  text-align: left;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h2 {
  color: #ab5e05;
  font-family: Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list li h1:hover {
	color: #522d92;
	text-decoration: underline;
	background-color: rgba(255, 204, 188, 0.4);
}
#restaurants-list p {
  margin: 0;
  font-size: 1.1em;
}
#restaurants-list li a {
	color: #ab5e05;
	font-size: 1.2em;
}
/*#restaurants-list li a:hover {
	background: linear-gradient(0deg, #252831, #ab5e05);
}*/
/* ====================== Restaurant Details ====================== */
.table-heading {
	font-weight: 100;
  text-align: center;
  letter-spacing: -3px;
  color: #ab5e05;
	font-size: 2.4em;
}
#restaurant-name {
  color: #ab5e05;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 2em 1em 1em;
}
#reviews-container {
  /*padding: 30px 40px 80px;*/
	padding: 1.5em;
}
#reviews-container h3 {
  color: #ab5e05;
  font-size: 2.4em;
  font-weight: 300;
  letter-spacing: -1px;
	margin: auto;
	text-align: center;
}
#reviews-list {
  margin: auto;
	text-align: justify;
	text-justify: inter-word;
	text-justify: inter-character;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	hyphens: manual;
	word-wrap: break-word;
	padding-inline-start: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
}
/*#reviews-list li p {
  margin: 0 0 10px;
}*/
#reviews-list li p:first-of-type {
	font-size: 1.2em;
	font-weight: bold;
	color: #505001;/*olive-like*/
}
#reviews-list li p:nth-of-type(2) {
	font-size: 1.2em;
	font-weight: bold;
	color: #795548;/*brawn*/
}
#reviews-list li p:nth-of-type(3) {
	font-size: 1.2em;
	font-weight: bold;
	color: #795548;/*brawn*/
}
#reviews-list li p:nth-of-type(4) {
	font-size: 1.2em;
	color: #47575f;/*love-gray*/
}
#restaurant-hours td {
  color: #666;
	font-size: 1.1em;
	padding: 0.3em;
	text-align: justify;
}
/* ============================ Footer ==============================*/
#footer {
  background-color: #252831;
  color: #aaa;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

.color-link {
	color: #b88606;
}

/* ========================== Media Queries =========================*/
@media screen and (min-width: 768px) {
	#restaurant-container, #reviews-container {
	  padding: 2.7em;
	}
	#restaurants-list {
		grid-template-columns: repeat(2, 1fr);/*Make 2 grid columns*/
	}
}
@media screen and (min-width:1024px) {
	body.inside {
		width: 40%;
		margin-top: 12em;
	}
	nav {
		height: 9em;
	}
	nav h1 a {
		font-size: 2.1em;
	}
	.table-heading {
		font-size: 3.5em;
	}
	#reviews-container h3 {
		font-size: 3.5em;
		padding-left: 0.5em;
	}
	#restaurant-container {
		width: 98%;
		padding: 2.5em;
		margin-top: 6em;
	}
	#restaurant-name {
		font-size: 3em;
	}
	#restaurant-img {
		width: 90%;
	}
	#restaurant-cuisine {
		width: 90%;
	}
	p#restaurant-adress {
		font-size: 1.8em;
		padding-left: 1em;
		margin: 5em;
	}
	#restaurant-hours td {
		font-size: 0.6em;
	}
	table#restaurant-hours {
		font-size: 2.5em;
		max-width: 80%;
	}
	.inside header {
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index: 1000;
	}
	.inside #map-container {
	  background: blue none repeat scroll 0 0;
	  height: 87%;
	  position: fixed;
	  right: 0;
	  top: 80px;
	  width: 60%;
	}
	.inside #map {
	  background-color: #ccc;
	  height: 100%;
	  width: 100%;
	}
	.inside #footer {
	  position: absolute;
	  width: 100%;
	}
	footer#footer {
    padding: 1em;
	}
}

@media screen and (min-width: 1200px) {
	#restaurants-list {
		grid-template-columns: repeat(3, 1fr);/*Make 3 grid columns*/
}

@media screen and (min-width: 1800px) {
	#restaurants-list {
		grid-template-columns: repeat(4, 1fr);/*Make 4 grid columns*/
}
